{% extends base.html %}


{% block content %}

    <img src="{{image}}" width="200" height="200">
    <br />
    <button id="saveImage" type="button">Save to Databse</button>

{% endblock %}

{% block js_sky %}
    <script type="text/javascript">
        const request = new Request("https://example.com", {
          method: "POST",
          body: '{"foo": "bar"}',
        });

        const url = request.url;
        const method = request.method;
        const credentials = request.credentials;
        const bodyUsed = request.bodyUsed;
    </script>
{% endblock %}